body{
    background-color: #EEEEEE;
    background-image: url(./img/KattBild.jpg);
    background-repeat: repeat;
h1{
    background-color:yellow;
}
h2{
    background-color: #00EEEE;
}
ul{
    list-style: square;
    list-style-position:outside;
}
a{
    background-color:cyan;
}
img{
    max-width:auto;
    max-height:400;
}
}