body{
    background-color: #EEEEEE;
    background-image: url(./img/bakgrund\ 1\ webb.jpg);
    background-repeat: repeat;
h1{
    background-color:yellow;
}
h2{
    background-color: #00EEEE;
}
ul{
    list-style: square;
    list-style-position:outside;
}
a{
    background-color:cyan;
}
img{
    max-width:auto;
    max-height:400;
}
#abouth1{
    color:rgb(0,0,255);
    text-align: right;
    
}
#frulorem{
    background-color: transparent;
}
#herrlorem{
    background-color: transparent;
}
}